<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="database" xsi:type="Database"
                connectionString="${gdc:item=databaseConnectionString}"
                dbProvider="System.Data.SqlClient"
                commandText="INSERT INTO Logs (application, logged, level, message, exception) VALUES (@Application, @Logged, @Level, @Message, @Exception);">
            <parameter name="@Application" layout="${gdc:item=applicationName}"/>
            <parameter name="@Logged" layout="${date}"/>
            <parameter name="@Level" layout="${level}"/>
            <parameter name="@Message" layout="${message}"/>
            <parameter name="@Exception" layout="${exception:tostring}"/>
        </target>
    </targets>

    <rules>
        <loggingService name="*" minlevel="Trace" writeTo="database"/>
    </rules>
</nlog>
